/*h1{
  background: rgb(255,0,0,0.5);
  width: max-content;
  margin: o auto;
}*/
body{
  background: rgb(0,0,16);
  margin: 2px 0 0 10px;
}
#sel{
  display:flex;
  justify-content: space-between;
  background : rgb(0,0,12);
  box-sizing: border-box;
}
#sel #option{
  display: flex;
  justify-content: center;
}
#sel #option a{
  style:none;
  margin: 0;
  color: white;
  padding: 30px 100px;
}
#sel a:hover{
  background: rgb(255,94,17);
}
#imagen{
  display:flex;
}
img{
  align-self: center;
}
